<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  


  <head>
    <title>
      SpeedyStack . main
    </title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if IE]><script type="text/javascript">
      if (/^#__msie303:/.test(window.location.hash))
        window.location.replace(window.location.hash.replace(/^#__msie303:/, '#'));
    </script><![endif]-->
        <link rel="search" href="/trac/main/search" />
        <link rel="help" href="/trac/main/wiki/TracGuide" />
        <link rel="alternate" href="/trac/main/wiki/SpeedyStack?format=txt" type="text/x-trac-wiki" title="Plain Text" />
        <link rel="start" href="/trac/main/wiki" />
        <link rel="stylesheet" href="/trac/main/chrome/common/css/trac.css" type="text/css" /><link rel="stylesheet" href="/trac/main/chrome/common/css/wiki.css" type="text/css" />
        <link rel="shortcut icon" href="/trac/main/chrome/common/trac.ico" type="image/x-icon" />
        <link rel="icon" href="/trac/main/chrome/common/trac.ico" type="image/x-icon" />
      <link type="application/opensearchdescription+xml" rel="search" href="/trac/main/search/opensearch" title="Search main" />
      <script type="text/javascript" charset="utf-8" src="/trac/main/chrome/common/js/jquery.js"></script>
      <script type="text/javascript" charset="utf-8" src="/trac/main/chrome/common/js/babel.js"></script>
      <script type="text/javascript" charset="utf-8" src="/trac/main/chrome/common/js/messages/en_US.js"></script>
      <script type="text/javascript" charset="utf-8" src="/trac/main/chrome/common/js/trac.js"></script>
      <script type="text/javascript" charset="utf-8" src="/trac/main/chrome/common/js/search.js"></script>
      <script type="text/javascript" charset="utf-8" src="/trac/main/chrome/common/js/folding.js"></script>
    <link rel="alternate" type="application/x-wiki" href="/trac/main/wiki/SpeedyStack?action=edit" title="Edit this page" />
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("h1,h2,h3,h4,h5,h6").addAnchor(_("Link to this section"));
        $("#content").find(".wikianchor").each(function() {
          $(this).addAnchor(babel.format(_("Link to #%(id)s"), {id: $(this).attr('id')}));
        });
        $(".foldable").enableFolding(true, true);
      });
    </script>
  </head>
  <body>
    <div id="banner">
      <div id="header">
        <a id="logo" href="http://www.speedystack.com:86/trac/main/wiki"><img src="/trac/main/chrome/site/h.png" alt="" /></a>
      </div>
      <form id="search" action="/trac/main/search" method="get">
        <div>
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" value="" />
          <input type="submit" value="Search" />
        </div>
      </form>
      <div id="metanav" class="nav">
    <ul>
      <li class="first">logged in as sebadima</li><li><a href="/trac/main/logout">Logout</a></li><li class="last"><a href="/trac/main/prefs">Preferences</a></li>
    </ul>
  </div>
    </div>
    <div id="mainnav" class="nav">
    <ul>
      <li class="first active"><a href="/trac/main/wiki">Wiki</a></li><li><a href="/trac/main/search">Search</a></li><li><a href="/trac/main/admin" title="Administration">Admin</a></li><li><a href="/trac/main/report">View Tickets</a></li><li class="last"><a href="/trac/main/newticket">New Ticket</a></li>
    </ul>
  </div>
    <div id="main" class="uinohelp">
      <div id="pagepath" class="noprint">
  <a class="pathentry first" title="View WikiStart" href="/trac/main/wiki">wiki:</a><a class="pathentry" href="/trac/main/wiki/SpeedyStack" title="View SpeedyStack">SpeedyStack</a>
</div>
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
        <ul>
          <li class="first"><a href="/trac/main/wiki/WikiStart">Start Page</a></li><li><a href="/trac/main/wiki/TitleIndex">Index</a></li><li class="last"><a href="/trac/main/wiki/SpeedyStack?action=history">History</a></li>
        </ul>
        <hr />
      </div>
    <div id="content" class="wiki">
      <div class="wikipage searchable">
        
          <div id="wikipage" class="trac-content"><p>
<strong><a class="wiki" href="/trac/main/wiki/WikiStart">Home Page</a></strong> | <strong><a class="wiki" href="/trac/main/wiki/Features">Features</a></strong> | <strong><a class="wiki" href="/trac/main/wiki/Pricing">Prices</a></strong> | <strong><a class="wiki" href="/trac/main/wiki/Trial">Test Drive 30 days</a></strong> | <strong><a class="wiki" href="/trac/main/wiki/Faq">Faq</a></strong> | <strong><a class="wiki" href="/trac/main/wiki/Support">Ask Support</a></strong> | <strong><a class="ext-link" href="http://www.speedystack.com/blog/"><span class="icon">.</span>our Blog</a></strong> 
</p>
<p>
<br />
<br />
</p>
<p>
We are a tiny firm in Italy, contact us at <a class="mail-link" href="mailto:me@sebadima.com"><span class="icon">.</span>me@sebadima.com</a> or drop a call to (+39 0931) 44-16-40
</p>
</div>
          
          <div class="trac-modifiedby">
            <span><a href="/trac/main/wiki/SpeedyStack?action=diff&amp;version=3" title="Version 3 by sebadima">Last modified</a> <span title="Apr 5, 2014 3:45:49 AM">6 days ago</span></span>
            <span class="trac-print">Last modified on Apr 5, 2014 3:45:49 AM</span>
          </div>
        
        
      </div>
      
    <div id="attachments">
    </div>

          <div class="buttons">
              <form method="get" action="/trac/main/wiki/SpeedyStack" id="modifypage">
                <div>
                  <input type="hidden" name="action" value="edit" />
                      <input type="submit" value="Edit this page" />
                </div>
              </form>
                <form method="get" action="/trac/main/attachment/wiki/SpeedyStack/" id="attachfile">
  <div>
    <input type="hidden" name="action" value="new" />
    <input type="submit" name="attachfilebutton" value="Attach file" />
  </div>
</form>
            <form method="get" action="/trac/main/wiki/SpeedyStack" id="rename">
              <div>
                <input type="hidden" name="action" value="rename" />
                <input type="submit" value="Rename page" />
              </div>
            </form>
            <form method="get" action="/trac/main/wiki/SpeedyStack">
              <div id="delete">
                <input type="hidden" name="action" value="delete" />
                <input type="hidden" name="version" value="3" />
                  <input type="submit" name="delete_version" value="Delete this version" />
                <input type="submit" value="Delete page" />
              </div>
            </form>
          </div>
    </div>
    <div id="altlinks">
      <h3>Download in other formats:</h3>
      <ul>
        <li class="last first">
          <a rel="nofollow" href="/trac/main/wiki/SpeedyStack?format=txt">Plain Text</a>
        </li>
      </ul>
    </div>
    </div>
    <div id="footer" lang="en" xml:lang="en"><hr />
      <a id="tracpowered" href="http://trac.edgewall.org/"><img src="/trac/main/chrome/common/trac_logo_mini.png" height="30" width="107" alt="Trac Powered" /></a>
      <p class="left">Powered by BitNami <a href="http://bitnami.com/stack/trac"><strong>Trac 1.0.1</strong></a><br />
        By <a href="http://www.edgewall.org/">Edgewall Software</a>.</p>
      <p class="right"></p>
    </div>
  </body>
</html>
