<!DOCTYPE html>
<html>
<body>

<br>
<h2> Apply following Filters </h2>
<br>

Chose Message Type
<br>
<select id="List1">
{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
  <option value="/polls/{{ poll }}">{{ poll }}</option>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</select>

<br>
<br>

Choose Target Category
<br>
<select id="List2">
{% if xx %}
    <ul>
    {% for poll in xx %}
  <option value="/polls/{{ poll }}">{{ poll }}</option>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</select>

<br>
<br>
<input id="clickMe" type="button" value="Launch Now!" onclick="doFunction();" />
<br>
<br>

<script>
function doFunction()
{
var sel    = document.getElementById("List1");
var value  = sel.options[sel.selectedIndex].value;
var param1 = sel.options[sel.selectedIndex].text;

var sel    = document.getElementById("List2");
var value  = sel.options[sel.selectedIndex].value;
var param2 = sel.options[sel.selectedIndex].text;

var url = "http://www.speedystack.com:8044/contacts/mailing" + "/" + param1 + "/" + param2
window.open(url);
}
</script>



</body>
</html>
